# Dependencies
/node_modules
/dist

# Go
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Binaries
big-two
big-two.exe

# Test binary, built with `go test -c`
*.test

# Logs
npm-debug.log*
yarn-error.log
*.log

# Environment variables
.env
.env.*
!.env.example

# Editor / OS specific
.vscode/
.idea/
.DS_Store
Thumbs.db
